{% extends 'pp/_layout.html' %}
{% block page_main_filter %}
<div class="fluid left floated clearfix ui tabular menu sub filter">
	<label class="left floated">Filter</label>
	<select class="ui dropdown left floated">
		<option>Cluster 01</option>
		<option>Cluster 02</option>
		<option>Cluster 03</option>
		<option>Cluster 04</option>
		<option>Cluster 05</option>
		<option>Cluster 06</option>
	</select>
	<select class="ui dropdown left floated">
		<option>Cluster 01</option>
		<option>Cluster 02</option>
		<option>Cluster 03</option>
		<option>Cluster 04</option>
		<option>Cluster 05</option>
		<option>Cluster 06</option>
	</select>
	<select class="ui dropdown left floated">
		<option>Cluster 01</option>
		<option>Cluster 02</option>
		<option>Cluster 03</option>
		<option>Cluster 04</option>
		<option>Cluster 05</option>
		<option>Cluster 06</option>
	</select>
	<button class="button submit yellow left floated">Apply</button>
	<div class="right floated change view"><a class="grid active"></a> <a class="list"></a></div>
</div>
{% endblock %}