{% extends 'pp/_layout.html' %}
{% block page_css %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-powertip/1.2.0/css/jquery.powertip.css">
{% endblock %}
{% block page_main_filter %}
<div class="fluid ui tabular menu sub left floated"><a class="item active">Visual</a> <a class="item">Recommendations</a></div>
{% endblock %}
{% block page_content %}
<div class="fluid ui content container clearfix">
	<section class="page sidebar right floated">
		<div class="header">
			<label>Table info for</label>
			<select class="ui dropdown fluid">
				<option>Cluster 01</option>
				<option>Cluster 02</option>
				<option>Cluster 03</option>
				<option>Cluster 04</option>
				<option>Cluster 05</option>
				<option>Cluster 06</option>
			</select>
			<div class="collapse-btn"></div>
		</div>
		<div class="content">
			<div class="fluid ui tabular menu tableinfo left floated"><a class="item data active"></a> <a class="item column"></a> <a
					class="item joined"></a> <a class="item devide"></a></div>
			<table class="ui table">
				<thead>
				<tr>
					<th>Name</th>
					<th>Value</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>Skew</td>
					<td>0</td>
				</tr>
				<tr>
					<td>Skew</td>
					<td>0</td>
				</tr>
				<tr>
					<td>Skew</td>
					<td>0</td>
				</tr>
				<tr>
					<td>Skew</td>
					<td>0</td>
				</tr>
				<tr>
					<td>Skew</td>
					<td>0</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div class="content">
			<div class="table head bg white">
				<h3>Distribution Keys</h3>
			</div>
			<table class="ui table">
				<thead>
				<tr>
					<th>Name</th>
					<th>Usage Freq</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>Skew</td>
					<td>0</td>
				</tr>
				<tr>
					<td>Skew</td>
					<td>0</td>
				</tr>
				<tr>
					<td>Skew</td>
					<td>0</td>
				</tr>
				<tr>
					<td>Skew</td>
					<td>0</td>
				</tr>
				<tr>
					<td>Skew</td>
					<td>0</td>
				</tr>
				</tbody>
			</table>
		</div>
	</section>
	<section class="fluid content outer">
		<div class="fluid content container">
			<div class="row grid">
				<div class="one column holder">
					<div class="column visualizer">
						<div class="head clearfix">
							<h2 class="chart left floated">Showing 19 of 24 tables</h2>
							<select class="ui dropdown left floated">
								<option>Cluster 01</option>
								<option>Cluster 02</option>
								<option>Cluster 03</option>
								<option>Cluster 04</option>
								<option>Cluster 05</option>
								<option>Cluster 06</option>
							</select>
							<select class="ui dropdown left floated">
								<option>Cluster 01</option>
								<option>Cluster 02</option>
								<option>Cluster 03</option>
								<option>Cluster 04</option>
								<option>Cluster 05</option>
								<option>Cluster 06</option>
							</select>
							<select class="ui dropdown left floated">
								<option>Cluster 01</option>
								<option>Cluster 02</option>
								<option>Cluster 03</option>
								<option>Cluster 04</option>
								<option>Cluster 05</option>
								<option>Cluster 06</option>
							</select>
							<button class="button submit yellow left floated">Apply</button>
							<div class="display left floated">
								<label class="left floated">Display by:</label>
								<div class="item radio left floated">
									<input type="radio" checked="checked" name="display" id="radioscore">
									<label for="radioscore" class="radio">Score</label>
								</div>
								<div class="item radio left floated">
									<input type="radio" name="display" id="radiosize">
									<label for="radiosize" class="radio">Size</label>
								</div>
								<div class="item radio left floated">
									<input type="radio" name="display" id="radiotime">
									<label for="radiotime" class="radio">Time</label>
								</div>
							</div>
							<a class="expand right floated"> </a></div>
						<div class="content">
							<div id="canvas-holder"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}
{% block page_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-powertip/1.2.0/jquery.powertip.min.js" type="text/javascript"></script>
<script src="{{ url_for('static', filename='javascripts/workload-datamodel.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='javascripts/visualizer.js') }}" type="text/javascript"></script>
<script type="text/javascript">
	/// GLOBAL VARIABLES ///
	var dataModel = undefined;
	var WORKLOAD_JSON_URL = "{{ url_for('api.workload_json', workload_id=active_workload_id) }}"

	loadViaAjax(WORKLOAD_JSON_URL, null, "json", null, null, null, function (result) {
		dataModel = new Haystaxs.DataModel(result);
		dataModel.initialize();
		dataModel.applyFiltersAndDisplayOptions();
		Visualizer.updateLayout(dataModel);
	});
</script>
{% endblock %}